/* in this file imports of all other files should go */
@import url(navbar.css);
body {
    background-color: rgb(228, 217, 229);
    margin: 0;
}
@media only screen and (orientation: portrait) {
    html {
      font-size: 12px;
    }
    .app-react-root {
        display: flex;
        flex-direction: row;
        justify-content: left;
    }
    .mainContent {
    }
  }