@import url(colors.css);

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 0.25rem;
    background-color: var(--african-violet);
    align-items: center;
}

.pane {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}
.mobileHamburger {
    display: none;
}

.navbar-item {
    font-size: 1rem;
    color: black;
    padding: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background-color: var(--purple-plum);
    border: 2px solid var(--pastel-pink);
    border-radius: 15%;
    transition: all 1s linear;
    animation: rot 2s normal;
    animation-delay: 1s;
}

.navbar-link {
    font-size: small;
    text-decoration: none;
}
.navbar-button {
    background-color: var(--orchid-crayola);
}

.navbar-button:hover {
    cursor: pointer;
}

.navbar-item:hover {
    background-color: var(--medium-blue);
    border-style: double;
    border-radius: 25%;
}

@keyframes rot {
    from {
        transform: rotateX(0deg);
    }

    to {
        transform: rotateX(360deg);
    }
}

@media only screen and (orientation: portrait) {
    .mobileHamburger {
        display: block;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        margin-top: 20px;
    }
    .navbar-item-show {
        display: block;
        margin-top: 1rem;
        text-align: center;
        animation-delay: 0s;
    }
    .navbar-item-hide {
        display: none;
    }
    .navbar {
        flex-direction: column;
        width: min-content;
        position: sticky;
        top: 0;
        left: 0;
        height: 100vh;
        margin-bottom: -5px;
    }
    
}